.gridHomePage {
  grid-column: 1 / span 3;
  grid-row: 3 / span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;

  flex-flow: row wrap;
  justify-content: center;

  .containerHP {
    width: 45%;
    height: 570px;
    margin: 30px 10px 0 10px;
    overflow: auto;
  }

  @media screen and (max-width: 800px) {
    .containerHP {
      width: 90%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
}
