html {
  height: 100%;

  body {
    background-color: #071013;
    box-sizing: border-box;
    p,
    h1,
    h2,
    h3,
    ul,
    span,
    label,
    li {
      font-family: "Akzidenz-Grotesk BQ";
      cursor: default;
    }
    input[type="text"],
    textarea {
      font-family: "Akzidenz-Grotesk BQ";
      border: 1px solid #999;
      border-radius: 5px;
    }
    button {
      font-family: "Akzidenz-Grotesk BQ";
      cursor: pointer;
      border-radius: 5px;
      border-style: none;
    }
    select {
      font-family: "Akzidenz-Grotesk BQ";
      border-radius: 5px;
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content repeat(3, 1fr) min-content;
    height: 100vh;
    margin: auto;
    overflow: hidden;
  }
}
