.contactPage {
  grid-column: 1 / span 3;
  grid-row: 3 / span 3;
  overflow: auto;
  text-align: center;

  p {
    font-size: 25px;
    color: #eee;
  }
}

.contactTitle {
  font-size: 60px;
  color: #2964aa;
  cursor: default;
}
