.container {
  background: #94bfbe;
  border-radius: 50%;
  box-shadow: 0 0 0.4em 0.3em rgba(15, 28, 63, 0.125);
  height: 18vw;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;

  .content {
    text-align: center;
    font-size: 3.5vw;
    line-height: 1.25;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  }
}
