.navBar {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  background-color: #071013;
  z-index: 20;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      :hover {
        color: #5d5;
      }

      a {
        display: block;
        padding: 10px;
        font-size: 20px;
        color: whitesmoke;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  .item-r {
    float: right;
  }
}

.banner {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  z-index: 10;
  background-color: #169873;
  box-shadow: 0 1px 5px 2px #222;
  display: block;

  .bannerIcon {
    float: left;
    margin: 10px;
  }

  .bannerIcon2 {
    float: right;
    margin: 10px;
  }

  h1 {
    color: #ffffff;
    padding: 0;
    margin: 13px 0 0 0;
    text-shadow: 3px 1px 0.9px rgba(0, 0, 0, 0.3);
    display: inline-block;
  }
}
