.footerContainer {
  width: 100%;
  height: min-content;
  background: #071013;

  .footerbanner {
    background-image: url("https://live.staticflickr.com/65535/50424183443_03370f39f2_o.png");
    width: 100%;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .footerContainer {
    width: 100%;
    height: 400px;
    background: #89c9b8;
  }
}
